{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        Launched in 2020 and now with 0 registered customers, Marks Music Store is a leading retailer of musical instruments and music equipment. You can buy music gear from orchestral instruments to rock 'n' roll, including guitars, drum kits, digital pianos, saxophones and cellos, plus leading recording and studio equipment.

        From starter guitars to pro microphones and amps, the Marks Music Store has a huge range of music equipment available. Whether you're looking for a violin, keyboard, electronic drum kit or PA system, we can help.

        We've got some of the biggest brands in stock, including Yamaha, Roland, Casio, Fender, Ibanez, Alesis, Behringer & Gibson.

        To receive excellent service and a great price on your next musical instrument purchase, try us now!
    </div>


{% endblock %}